$fontcolor:  rgb(10%, 10%, 10%);
$backgroundcolor: rgb(60%, 65%, 45%);

body, html {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 110%;
  background-color: $backgroundcolor;
  color: $fontcolor;
}
li {
  list-style-type: none;
}

.active {
  color: pink;
}

.choice {
  // background-color: yellow;
}

.correct {
  background-color: green;
}

.incorrect {
  background-color: red;
}

.explain {
  background-color: cyan;
  display: none;
}
